@media screen and (max-width:600px) {
/* header banner  */
    .H-banner h2{
        font-size: 22px;
    }
    .H-banner p{
        font-size: 14px;
        width: 80%;
    }
    .h-option{
        width: 80%;
        margin-bottom: 60px;
        flex-direction: column;
        gap:16PX ;
    
    }
    .btn-1 , .btn-2, .btn-3{
        width: 255px;
    }
    .btn-4{
        width: 255px;
    }
    /* popular-tours section  */
     
    .popular-tours{
        flex-direction: column;
    }
    .populars-tour-content, .populars-tour-img{
        width: 100%; 
    }

    /* destination section  */

    .destinations-content h2{
        font-size: 20px;
    }
    .destinations-content p{
        font-size: 14px;
    }
    .destinations-content h2, .destinations-content p{
        width: 100%;

    }
    .destinations-img{
     grid-template-columns: 1fr;

    }
    .grid-item-1,.grid-item-2, .grid-item-3, .grid-item-4,.grid-item-5, .grid-item-6, .grid-item-7 {
        grid-column: 1/ span 1;
    }
   /* choose section  */
   .choose-content p{
    width: 100%;
   }

   .card{
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
   }
   .card-1 , .card-2, .card-3{
    grid-column: 1/ span 2;
    grid-row: ;
 
   }
   .card-2{
    grid-row:2 /span 1 ;
   }
   .card-3{
    grid-row:3/span 1 ;
   }
 
}