*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* ....header style...  */
.color{
    color:#FF5400 ;
}
body{
    font-family: 'Mulish', sans-serif;
    
}
header{
    width: 90%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}
.nav-title{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-title h3{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-title img{
    width: 80px;
}
.nav-manu {
    width: 50%;
display: flex;
justify-content: space-between;
}
.nav-manu a{
    text-decoration: none;
    color:#424247 ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.H-banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.H-banner h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 24px;
}
.H-banner p{
    width: 60%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}
.h-option{
    width: 70%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#fa-down{
    transform: rotate(90deg);
}
.btn-1 , .btn-2, .btn-3 {
    background: #FFF;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px ;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.btn-4{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* popular-tours style  */
.popular-tours{
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;   

}

.populars-tour-content, .populars-tour-img{
    width: 50%;
}

.populars-tour-img img{
    width: 100%;
}
.populars-tour-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
.populars-tour-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.populars-tour-content li{
    margin: 22px 22px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}
/* Destination Section style  */

.destinations{
    width: 90%;
    margin: 100px auto;
}
.destinations-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.destinations-content h2{
    width: 40%;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destinations-content p{
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
    }
    
    .destinations-img{
        width: 100%;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .destinations-img img{
       width: 100%;
       height: 100%;
       border-radius: 24px;
       object-fit: cover;
        
    }
    .grid-item-1{
        grid-column: 1/ span 6;
        grid-row:1/ span 1 ;
        position: relative;

    }
    .grid-item-1 h2, .grid-item-2 h2, .grid-item-3 h2, .grid-item-4 h2, .grid-item-5 h2, .grid-item-6 h2, .grid-item-7 h2{
        position: absolute;
        top: 50%;
        left: 45%;
    }
    .grid-item-2{
        grid-column: 7/ span 6;
        grid-row:1/ span 1 ;
        position: relative;
    }
    .grid-item-3{
        grid-column: 1/ span 4;
        grid-row:2/ span 1;
        position: relative;
    }
 
    .grid-item-4{
        grid-column: 5/ span 5;
        grid-row:2/ span 1 ;
        position: relative;
    }
 
    .grid-item-5{
        grid-column: 10/ span 3;
        grid-row:2/ span 1;
        position: relative;
    }
 
    .grid-item-6{
        grid-column: 1/ span 5;
        grid-row:3/ span 1;
        position: relative;
    }
 
    .grid-item-7{
        grid-column: 6/ span 7;
        grid-row:3 / span 1;
        position: relative;
    }
    .primary-text{
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
 


